body
  padding 0

.fa
  width 10px
  height 10px
  
.btn
  width 146px //166

.btn-default
  background-color #eee  

.btn-default 
.btn-primary 
.btn-success 
.btn-info 
.btn-warning 
.btn-danger 
  border 0

.btn-default:hover
.btn-primary:hover
.btn-success:hover
.btn-info:hover
.btn-warning:hover
.btn-danger:hover
  border 0
  
li.selected
  background-color #a4c5ff

a.login-link-text
  color #777 
//  background-color transparent
  
a.login-link-text:hover
a.login-link-text:focus
  background-color #e7e7e7
  underline no

.container-fluid#main-body
  padding-top 70px
  
.navbar-inner
  padding 0  

.navbar-header
  float left

.navbar-right
  border 0
  padding 0
  margin 0
  
#login-buttons
  float right
  border 0
  padding 0
  height 50px
  width 80px

li#login-dropdown-list
  float right
  width 100px
  line-height 50px
  display table-cell
  text-align right
  vertical-align middle

.half-line
  line-height 0
  
.dropdown-menu
  text-align left
  line-height 20px
  
.dropdown-menu#logged-in-dropdown
  padding-left 0px
  padding-right 0px
  padding-top 5px
  padding-bottom 5px
  width 190px
  float right
  right 0
  left auto

li#login-dropdown-list.dropdown
  height 50px

.menu-icon
  margin-right 4px

#login-dropdown-list input
#login-dropdown-list input:first-of-type
#login-dropdown-list input:last-of-type
  margin-bottom 0px
  border-top-left-radius 0px
  border-top-right-radius 5px
  border-bottom-left-radius 0px
  border-bottom-right-radius 5px

#btn-toggle-collapsed
  height 34px
  width 38px
  padding-left 1px
  padding-right 5px
  padding-top 5px
  padding-bottom 2px
  margin 8px
  
.fa-bars:before
  font-size 18px
  content "\f0c9"

.input-group-addon
  padding-left 4px
  padding-right 4px
  
.dropdown-menu
  top 50px
  margin 0px
  border-radius 1px
  
.login-buttons
#login-buttons
  line-height 15px

.pull-left
.pull-right
  line-height 15px

.navbar-collapse
  float left
  width 500px

.navbar-brand
  font-size 14px

.navbar-header > a.navbar-brand:hover
  color black
  background-color #eee

.navbar-right > li > a.dropdown-toggle
  color #555
  padding-right 12px
  
.navbar-right > li:hover   
.navbar-nav > li > a:hover
  text-decoration none
  color black
  background-color #eee

.navbar-header > a.navbar-brand:focus
.navbar-right > li > a.dropdown-toggle:focus
.navbar-nav > li > a:focus
  color black
  background-color #ddd
