template(name='logo')
    li
        #navbar-logo-i0 Getber

template(name='layout')
    +navbar
    #wrapper
        +sidebar
        +yield

template(name='layout_naked')
    +yield

template(name='logo_main')
    .logo#main-logo_main-left0 get
    .logo#main-logo_main-right0 ber

template(name='copy_main')
    #main-copy_main-hero0
        #main-copy_main-copy0 Safeguard your family rides
        .copy#main-copy_main-1 For parents
        .copy#main-copy_main-2
            +button(label="Connect with UBER" id="main-copy_main-connect0")
            +br(height="2")
        .copy#main-copy_main-3 For 18 years or younger
        .copy#main-copy_main-4
            +button(label="Sign up for Teens" id="main-copy_main-signup0")

template(name='main')
    #window-main-bg0
    #window-main-screen0
    #window-main-video0
    +logo_main
    +copy_main

template(name='home')
    #contentWrapper
        h2#title Sign up with UBER
        +button(label="Connect with UBER")
        .col-md-6#e3 See you soon{{hello}}
        #items
            .col-md-11#pack
                each items
                    +item

template(name='sidebar_home')
    each items
        +menu_list

template(name='world')
    h1 {{a}} world

template(name='profile')
    #contentWrapper
        with user
            | {{name}}
            | {{phone}}

template(name='item')
    .item(style='height:{{height}}px;color:{{color}}')

template(name='submit')
    h2 Connected
    +button(label="Add rider")
    p access_token is {{token}} {{output}}

template(name='__vehicle')
    #contentWrapper
        h1 You vehicle information
        br
        .col-sm-7
            each items
                +form
                br

template(name='popover_maker')
    ul
        li manufacturer in 20 characters

template(name='popover_model')
    ul
        li For digit

template(name='popover_color')
    ul
        li White or black only

template(name='sidebar_vehicle')
    each items
        +menu_list

template(name='map')
    #map-canvas

template(name='sidebar_map')
    each items
        +menu_list

template(name='calendar')
    #contentWrapper
        #containerCalendar
            .scrollspy#top &nbsp;
            #items
            .scrollspy#bottom &nbsp;

template(name='log')
    #log-canvas

template(name='policy')
    h2 Privacy Policy

template(name='uber')
    h2 Uber

template(name='redirect')
    h2 redirect

template(name='day')
    .init {{init}}
    .title {{title}}
    .date {{date}}
    .day {{day}}
    .event {{event}}

template(name='gmap')
    input(id="pac-input", class="controls", type="text", placeholder="Enter a location")
    #map-canvas

template(name='request')
    #contentWrapper
        h1 Request
        br
        .col-sm-9#e11
            each items
                +form
                br
        .col-sm-9#e12
            input(type="tel",id="mobile-number",class="form-control")
            br
        .col-sm-9#e13
            +gmap

template(name='popover_name')
    ul
        li Write your name.
        li No longer then 12 letters.

template(name='popover_phone')
    ul
        li Write your phone number.

template(name='popover_address')
    ul
        li Write your zipcode.

template(name='help')
    #contentWrapper
        h1 style
        pre {{output}}

template(name='login')
    ul.nav.navbar-nav#login-buttons
        +Template.dynamic(template=template)

template(name='dropdown_logged_in')
    li.dropdown#login-dropdown
        a.dropdown-toggle#login-id(data-toggle="dropdown")
            | {{username}}
            i.fa(class="fa-chevron-down")
        .dropdown-menu(id="{{id}}")
            +Template.dynamic(template=template)

template(name='dropdown_menu_logged_in')
    each items
        +menu

template(name='change_password')
    each fields
        +form
    br
    +login_messages
    #dropdown-menu-buttons
        each buttons
            +button
    #dropdown-other-options
        each links
            +a

template(name='dropdown_logged_out')
    li.dropdown#login-dropdown
        a.dropdown-toggle(data-toggle="dropdown")
            | Sign In
            i.fa.fa-chevron-down
        .dropdown-menu
            each fields
                +form
            br
            +login_messages
            #dropdown-menu-buttons
                each buttons
                    +button
            #dropdown-other-options
                each links
                    +a

template(name='login_messages')
    +alert(class="alert-danger"  message=error_message)
    +alert(class="alert-success" message=info_message )

template(name='menu_list')
    li
        a(href="{{path}}" id="{{id}}") {{label}}

template(name='navbar')
    .navbar.navbar-default.navbar-fixed-top
        .navbar-left 
            ul.nav.navbar-nav
                li: a#menu-toggle: i.fa.fa-bars
                +logo
                li: a(href="{{pathFor 'home'}}" id='navbar-menu') Home
                li: a(href="{{pathFor 'map'}}" id='navbar-menu') Map
                li: a(href="{{pathFor 'calendar'}}" id='navbar-menu') Calendar
                li: a(href="{{pathFor 'request'}}" id='navbar-menu') Request
                li: a(href="{{pathFor 'log'}}" id='navbar-menu') Log
                li: a(href="{{pathFor 'help'}}" id='navbar-menu') Help
        .navbar-right
            +login

template(name='sidebar')
    form#listen-to-menu-change
    #sidebar-wrapper
        #sidebar-top
        ul.sidebar-nav#sidebar_menu_insert

template(name='html')
     

template(name='form')
    if visible
        .input-group.margin-bottom-sm
           span.input-group-addon: i.fa.fa-fw(class="fa-{{icon}}")
           input.form-control(id="{{id}}" type="{{type}}" placeholder="{{label}}" title="{{title}}" data-toggle="popover" data-trigger="hover" data-placement="right" data-html="true")

template(name='button')
    if visible
        button.btn(class="{{class}}" id="{{id}}" type="{{type}}") {{label}}

template(name='dialog')
    button.btn(href="#myModal" role="button" data-toggle="modal") Modal
    .modal.fade#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog: .modal-content
            .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") ×
                h3#myModalLabel {{modalHeader}}
            .modal-body
                p {{modalBody}}
            .modal-footer
                button.btn(data-dismiss="modal" aria-hidden="true") {{modalCloseButton}}
                button.btn.btn-primary {{modalActionButton}}

template(name='a')
    if visible
        a(class="{{class}}" id="{{id}}") {{label}}

template(name='menu')
    if visible
        if divider
            li.divider
        else
            li: a(id="{{id}}" class="{{class}}" style="{{style}}")
                i.fa(class="fa-{{icon}}" class="{{icon_class}}")
                | {{label}}

template(name='alert')
    if visible
        .alert(class="{{class}}") {{message}}

