#containerCalendar
    width 854px
    max-width 854px
h2
    color black
    display block
.everyday
    position relative
    width 120px
    height 120px
    float left
    padding 8px
    background-color white
    margin 2px
.month
    display block
    height 854px
.spacer
    line-height 10px

#e13
    height 300px

.navbar
    background-color rgba(20, 23, 240, 0.6)
.navbar-fixed-top
    border 0px

html
    height 100%
body
    height 100%
    font-family 'PT Sans', sans-serif
    font-weight 200px

html, body, #map-canvas
    height 100%
    margin 0px
    padding 0px
.controls
    margin-top 16px
    border 1px solid transparent
    border-radius 2px 0 0 2px
    box-sizing border-box
    -moz-box-sizing border-box
    height 32px
    outline none
    box-shadow 0 2px 6px rgba(0, 0, 0, 0.3)
#pac-input
    background-color #fff
    font-size 15px
    font-weight 300
    margin-left 12px
    padding 0 11px 0 13px
    text-overflow ellipsis
    width 400px
#pac-input:focus
    border-color #4d90fe
#type-selector
    color #fff
    background-color #4d90fe
    padding 5px 11px 0px 11px
#type-selector label
    font-size 13px
    font-weight 300

