head
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=PT+Sans:400,700')
    script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    title Application
