[submodule "packages/bin"]
	path = packages/bin
	url = https://github.com/i4han/bin.git
[submodule "packages/browser"]
	path = packages/browser
	url = https://github.com/i4han/browser.git
[submodule "packages/jade"]
	path = packages/jade
	url = https://github.com/i4han/jade.git
[submodule "packages/sat"]
	path = packages/sat
	url = https://github.com/i4han/sat.git
[submodule "packages/blaze-layout"]
	path = packages/blaze-layout
	url = https://github.com/EventedMind/blaze-layout.git
[submodule "packages/iron-router"]
	path = packages/iron-router
	url = https://github.com/EventedMind/iron-router.git
[submodule "packages/deps-ext"]
	path = packages/deps-ext
	url = https://github.com/EventedMind/deps-ext.git
