font_stylesheet:  "https://fonts.googleapis.com/css?family=PT+Sans:400,700"
font_family:            "'PT Sans', sans-serif"
font_weight:            200
backgound_color:        '#eee'
navbar:
    style:              'fixed-top'
    height:             '50px'
    color:              '#999'
    border:             '0px'
    border_color:       '#fff'
    background_color:   '#eee'
    login:
        width:          '100px'
        dropdown:
            width:      '190px'
    dropdown:
        width:          '240px'
        padding:        '25px'
        a:
            height:     '24px'
            hover:      '#eee'
    text:
        color:          '#fff'
        font_size:      '10px'
        height:         '20px'
        width:          '80px'
    hover:
        color:              'black'
        background_color:   '#eee'
    focus:
        color:              'black'
        background_color:   'white'
sidebar:
    a:
        color:          'white'
