public:
	collections: "Connects Items Updates Calendar User"
packages: "isaac:intl-tel-input isaac:settings isaac:x isaac:satellite"
title: "Getber"
theme: "clean"
lib_files: "accounts menu ui responsive"
other_files: []
private:
	google:
		maps:
			url: "https://maps.googleapis.com/maps/api/js"
			options:
				query:
					key: "AIzaSyB2RuPxiq1JbG18Lq793FdEzWM-7-MYX8Q"
		map_input:
			url: "https://maps.googleapis.com/maps/api/js"
			options:
				query:
					v: "3.exp"
					signed_in: "true"
					libraries: "places"
	uber:
		oauth:
			url: "https://login.uber.com/oauth/authorize"
			options:
				query:
					scope: "request profile history_lite"
					client_id: "xJsIAYCmEZElqHVLKJyPxVNcXUXqwE_q"
					redirect_uri: "https://www.getber.com/submit"
					response_type: "token"
		profile:
			meteor_method: "uber_profile"
			method: "GET"
			url: "https://api.uber.com/v1/me"
			options:
				headers:
					Authorization: "Bearer {token}"
	whitepages:
		phone:
			meteor_method: "whitepages_phone"
			method: "GET"
			url: "https://proapi.whitepages.com/2.1/phone.json"
			options:
				params:
					api_key: "4846edbe3b172b67638c636e3135bb26"
					phone_number: "{phone}"