#logo
    width 110px
    float left
    padding 15px
    font-weight 200
    font-size 15px
    color white
    text-align right

body
    background-color #ddd

#items .item
    background-color white
    width 240px
    height 240px
    float left
    margin 6px

#map-canvas
    height 100%
    padding 0px
    margin 0px

#container-calendar
    width 854px
    max-width 854px
h2
    color black
    display block
.everyday
    position relative
    width 120px
    height 120px
    float left
    padding 8px
    background-color white
    margin 2px
.month
    display block
    height 854px
.spacer
    line-height 10px

#log-canvas
    height 100%
    width 100%
#full-screen
    height 100%
    width 100%

.init
    display none
.title
    display inline
    font-weight 100
.date
    display inline
    font-weight 600
    font-size 14pt
    width 24px
    text-align right
.day
    display table
    font-weight 100
    float right
    width 24px
    text-align right
    color #444
    font-size 8pt
.event
    resize none
    font-weight 100
.row#day01
    margin-bottom 0px

.navbar
    background-color rgba(255, 127, 38, 0.91)
.navbar-fixed-top
    border 0px

html
    height 100%
body
    height 100%
    font-family 'PT Sans', sans-serif
    font-weight 200px

