head
    title Application
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=PT+Sans:400,700')
    script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB2RuPxiq1JbG18Lq793FdEzWM-7-MYX8Q')
